.media-display {
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    color: navy;
    font-weight: bold;
    padding: 0 2px;
    font-size: 0.75rem;
  }
  
nav ul {
    grid-auto-flow: row;
    grid-auto-columns: 100%;
}
 